body{
	font-family: 'Montserrat', sans-serif;
	background-image: url('../images/Japanese_Wave_Pattern.svg.png');
}

header {
    background-image: url('../images/blackboard-1846865_1920 (1).jpg');
	color: aliceblue;
	border: 2px solid black;
}


#page {
	background-image: url('../images/blackboard-1846865_1920\ \(1\).jpg');
	text-align:left;
	width:60%;
	padding:30px;
	height:450px;
	display: flex;
	flex-direction: row;
	margin-top: 15px;
	border: 2px solid black;
	color: black;
}

h5 {

	color: white;
}

#mot {
	margin:30px 0 0 0;
	clear:both;
	top:100px;
}

#mot td {
	padding:10px;
	background-color:#1ee193;
	border:2px inset black;
	width:30px;
	height:30px;
	font-weight:bold;
	font-size:1.5em;
	text-align:center;
}

 #mot p{
	visibility:hidden;
}

#clavier{
	border:4px outset black;
	padding:10px;
	
}

#clavier td {
	background-color:white;
	border:1px solid black;
	width:25px;
	height:25px;
	text-align:center;
	font-weight:bold;
	cursor:pointer;
}

a.lien{
	color:black;
	text-decoration:none;
	font-size:20px;
}

a.lien:hover{
	color: black;
	font-weight:bold;
	text-decoration:underline;
}

#black-screen {
	position: absolute;
	height: 215px;	
	width: 200px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.lettersBank {
	position: absolute ; 
	top: 60px;
	right: 500px;
	z-index: 101;
}

#response,
#hint,
#proposition {
	height: 40px;
	width: 200px;
	background-color: white;
	border: solid black;
}

#submit {
	height: 35px;
	width: 150px;
	background-color: #00D1F6;
	color: black;
}

